<div class="container">
    <div class="row">
        <div class="changeWidth5">
            <div class="mini-banner ">
                <div class="center-info">
                    <h2>{{discount?.title}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="changeWidth5">
            <div class="simple-page">
                <ul>
                    <li>{{discount?.description}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
